In [17]:
import pandas as pd

data = pd.read_csv("2017_jun_final - 2017_jun_final.csv")

In [18]:
# 1
print(data.head())

   N                    Посада Мова програмування Спеціалізація  \
0  1        Junior QA engineer                NaN     Manual QA
1  2        Junior QA engineer                NaN     Manual QA
2  3         Software Engineer            C#/.NET           NaN
3  4         Software Engineer         JavaScript           NaN
4  5  Senior Software Engineer         JavaScript           NaN

  Загальний досвід роботи Досвід роботи на поточному місці  \
0                     0.5                              0.5
1         менше 3 місяців                  менше 3 місяців
2                       4                                1
3                       5                                4
4       10 і більше років                              0.5

   Зарплата на місяць  Зміна зарплати за 12 місяців   Місто   Розмір компанії  \
0                 400                             0  Харків        до 10 осіб
1                 430                           130  Харків  більше 1000 осіб
2                2500                           800    Київ      до 1000 осіб
3                2000                           400   Одеса       до 200 осіб
4                4500                           500    Інше        до 10 осіб

   ... Ще студент                    Рівень англійської  \
0  ...       True    Pre-intermediate (нище середнього)
1  ...       True  Upper-Intermediate (вище середнього)
2  ...      False               Intermediate (середній)
3  ...      False    Pre-intermediate (нище середнього)
4  ...      False               Intermediate (середній)

                   Предметна область      Дата заповнення  \
0                      iOS,eCommerce  12/06/2017 12:38:08
1                       Веб-розробка  12/06/2017 12:42:51
2  Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3  Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4  Desktop Applications,Веб-розробка  12/06/2017 13:03:47

                                          User.Agent   exp current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5

  salary Валюта  cls
0    400    NaN   QA
1    430    NaN   QA
2   2500    NaN  DEV
3   2000    NaN  DEV
4   4500    NaN  DEV

[5 rows x 25 columns]

In [19]:
# 2
print('Shape ', data.shape)

Shape  (8704, 25)

In [20]:
# 3
print('Data types ' , data.dtypes)

Data types  N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [21]:
# 4 Calculate missing values in each column

missing_percent = (data.isnull().sum() / len(data)) * 100
print(missing_percent)

N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Спеціалізація                       82.938879
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.113051
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    2.562040
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

In [22]:
# 5 Remove rows with missing values

data_cleaned = data.dropna(subset=['Мова програмування'], how='any')
print(data_cleaned)

         N                    Посада Мова програмування Спеціалізація  \
2        3         Software Engineer            C#/.NET           NaN
3        4         Software Engineer         JavaScript           NaN
4        5  Senior Software Engineer         JavaScript           NaN
6        7  Junior Software Engineer            C#/.NET           NaN
7        8  Senior Software Engineer                C++           NaN
...    ...                       ...                ...           ...
8692  8693         Software Engineer               Java           NaN
8694  8695  Junior Software Engineer            C#/.NET           NaN
8695  8696         Software Engineer             Python           NaN
8701  8702  Junior Software Engineer         Ruby/Rails           NaN
8703  8704  Senior Software Engineer               Java           NaN

     Загальний досвід роботи Досвід роботи на поточному місці  \
2                          4                                1
3                          5                                4
4          10 і більше років                              0.5
6                          1                  менше 3 місяців
7                          6                                1
...                      ...                              ...
8692                       5                                1
8694                       1                                1
8695                       1                              0.5
8701                       1                              0.5
8703                       7                                2

      Зарплата на місяць  Зміна зарплати за 12 місяців         Місто  \
2                   2500                           800          Київ
3                   2000                           400         Одеса
4                   4500                           500          Інше
6                    600                           100  Хмельницький
7                   3300                           500          Київ
...                  ...                           ...           ...
8692                3500                           650     Віддалено
8694                 550                           550        Харків
8695                1500                          1000          Київ
8701                 800                           500         Львів
8703                5000                           800         Одеса

     Розмір компанії  ... Ще студент                    Рівень англійської  \
2       до 1000 осіб  ...      False               Intermediate (середній)
3        до 200 осіб  ...      False    Pre-intermediate (нище середнього)
4         до 10 осіб  ...      False               Intermediate (середній)
6         до 50 осіб  ...      False    Pre-intermediate (нище середнього)
7         до 10 осіб  ...      False  Upper-Intermediate (вище середнього)
...              ...  ...        ...                                   ...
8692     до 200 осіб  ...      False               Intermediate (середній)
8694     до 200 осіб  ...      False    Pre-intermediate (нище середнього)
8695      до 10 осіб  ...      False               Intermediate (середній)
8701      до 10 осіб  ...      False  Upper-Intermediate (вище середнього)
8703    до 1000 осіб  ...      False  Upper-Intermediate (вище середнього)

                                Предметна область      Дата заповнення  \
2               Веб-розробка,Корпоративні системи  12/06/2017 13:02:47
3               Desktop Applications,Веб-розробка  12/06/2017 13:03:01
4               Desktop Applications,Веб-розробка  12/06/2017 13:03:47
6                                    Веб-розробка  12/06/2017 13:04:26
7                                            Інше  12/06/2017 13:04:27
...                                           ...                  ...
8692                                    eCommerce  12/07/2017 13:26:49
8694  Desktop Applications,Системне програмування  12/07/2017 14:14:33
8695                 Фінанси та банкінг,eCommerce  12/07/2017 14:39:21
8701            Веб-розробка,Корпоративні системи  12/07/2017 17:32:26
8703                                 Веб-розробка  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
6     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.0             0.0
7     Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....   6.0             1.0
...                                                 ...   ...             ...
8692  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...   5.0             1.0
8694  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...   1.0             1.0
8695  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary Валюта  cls
2      2500    NaN  DEV
3      2000    NaN  DEV
4      4500    NaN  DEV
6       600    NaN  DEV
7      3300    NaN  DEV
...     ...    ...  ...
8692   3500    NaN  DEV
8694    550    NaN  DEV
8695   1500    NaN  DEV
8701    800    NaN  DEV
8703   5000    NaN  DEV

[4854 rows x 25 columns]

In [23]:
# 6 Display missing values after removal

missing_percent_cleaned = (data_cleaned.isnull().sum() / len(data_cleaned)) * 100
print(missing_percent_cleaned)

N                                    0.000000
Посада                               0.000000
Мова програмування                   0.000000
Спеціалізація                       99.979398
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.758962
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    0.618047
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.835187
cls                                  0.164813
dtype: float64

In [24]:
# 7
data_cleaned_rows = data.dropna()

In [25]:
# 8

data_cleaned_shape = data_cleaned_rows.shape
print(data_cleaned_shape)

(0, 25)

In [26]:
# 9

python_data = data_cleaned_rows[data_cleaned_rows['Мова програмування'] == 'Python']

In [27]:
# 10

python_data_shape = python_data.shape
print(python_data_shape)

(0, 25)

In [28]:
# 11

grouped_by_position = data_cleaned_rows.groupby('Посада')
aggregated_salary = grouped_by_position['Зарплата на місяць'].agg(['min', 'max'])

In [30]:
# 12

def fill_avg_salary(row):
    return row['Зарплата на місяць'].mean()

# Додайте новий стовпчик "avg" з середніми зарплатами
data_cleaned_rows['avg'] = data_cleaned_rows.apply(fill_avg_salary, axis=1)

In [31]:
# 13

avg_salary_stats = data_cleaned_rows['avg'].describe()
print(avg_salary_stats)

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: avg, dtype: float64

In [32]:
# 15

data_cleaned_rows.to_csv('cleaned_data.csv', index=False)